body {
  background-color: lightgray;
  height: 30px;
  width: 100px;
}

#getRecipe {
  color: red;
  cursor: pointer;
  position: relative;
  top: 50%;
  left: 57%;
  transform: translate(-50%, -50%);
}
#getRecipe:hover {
  color: lightpink;
}
#seeRecipes {
  color: yellow;
  cursor: pointer;
  position: relative;
  top: 75%;
  left: 57%;
  transform: translate(-50%, -50%);
  margin-bottom: 20px;
}
